<div class="container">
    <% if (success_msg) { %>
        <p class="alertaSuccess">
            <%= success_msg %>
        </p>
        <% } %>

            <% if(error_msg) { %>
                <p class="alertaError">
                    <%= error_msg %>
                </p>

                <% } %>
</div>